@inherits LayoutComponentBase

<CommonMenu />

<AuthorizeView>
    <Authorized>

        <div class="container" style="padding-bottom: 4em">
            @Body
        </div>

    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

