@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13}/{Path14?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13}/{Path14}/{Path15?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13}/{Path14}/{Path15}/{Path16?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13}/{Path14}/{Path15}/{Path16}/{Path17?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13}/{Path14}/{Path15}/{Path16}/{Path17}/{Path18?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13}/{Path14}/{Path15}/{Path16}/{Path17}/{Path18}/{Path19?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13}/{Path14}/{Path15}/{Path16}/{Path17}/{Path18}/{Path19}/{Path20?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13}/{Path14}/{Path15}/{Path16}/{Path17}/{Path18}/{Path19}/{Path20}/{Path21?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13}/{Path14}/{Path15}/{Path16}/{Path17}/{Path18}/{Path19}/{Path20}/{Path21}/{Path22?}"
@page "/LectureAdmin/{Account}/{LectureName}/UserSubmissions/{UserAccount}/{Path1}/{Path2}/{Path3}/{Path4}/{Path5}/{Path6}/{Path7}/{Path8}/{Path9}/{Path10}/{Path11}/{Path12}/{Path13}/{Path14}/{Path15}/{Path16}/{Path17}/{Path18}/{Path19}/{Path20}/{Path21}/{Path22}/{Path23?}"

@inherits FiniteDepthPathPage;
@layout LectureAdminLayout
@inject PermissionProviderService PermissionProvider;
@inject LectureHandleService LectureHandler
@inject SubmissionHandleService SubmissionHandler
@inject UserHandleService UserHandler;
@inject RepositoryHandleService RepositoryHandler;
@inject Data.DatabaseContext DatabaseContext;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<Hugin.Lang> Localizer;

@inject IJSRuntime JS;
@inject NavigationManager NV;

@inject SubmissionNotifierService Notifier;
@implements IDisposable;



<AccessRestrictions Checker="p => p.CanShowSubmission(Lecture, LoginUser)">
    <Paginated Collection="submissionNames" @ref="@Pagination" EntriesPerPage="20">
        <nav class="panel is-info">
            <div class="panel-heading">
                @Localizer["SubmissionsOf"].Value @TargetUser.DisplayName
            </div>
            <div class="panel-block tt">
                <table class="table is-fullwidth" style="font-size: small">
                    @foreach (var submission in Pagination.ShowedModels)
                    {
                        <tr>
                            <td>
                                <a href="/LectureAdmin/@LectureUser.Account/@Lecture.Name/UserSubmissions/@TargetUser.Account/@submission"
                                   @onclick="() => { JumpTo(submission); }"
                                   @onclick:preventDefault>@submission</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </nav>
    </Paginated>


    @if (!string.IsNullOrWhiteSpace(Path))
    {
        <SubmissionList User="LoginUser" IsShowHistoryLink="false" CanMark="canMark" Submissions="submissions" />
    }

</AccessRestrictions>



@code
{
    [CascadingParameter]
    public Data.User LoginUser { get; set; }
    [CascadingParameter]
    public Data.User LectureUser { get; set; }
    [CascadingParameter]
    public Data.Lecture Lecture { get; set; }

    public Data.User TargetUser { get; set; }

    [Parameter]
    public string Account { get; set; }
    [Parameter]
    public string LectureName { get; set; }
    [Parameter]
    public string UserAccount { get; set; }

    private IEnumerable<string> submissionNames = null;
    private Paginated<string> Pagination;

    private IEnumerable<Data.Submission> submissions = null;

    private bool canMark;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        update();
        Notifier.Notify += OnNotify;
    }

    private void update()
    {
        TargetUser = UserHandler.Set.Where(x => x.Account == UserAccount).FirstOrDefault();

        submissionNames = SubmissionHandler.Set
            .Where(x => x.LectureId == Lecture.Id).Select(x => x.ActivityName)
            .Distinct().OrderBy(x => x).AsNoTracking().ToList();

        if (TargetUser != null && !string.IsNullOrWhiteSpace(Path))
        {
            submissions = SubmissionHandler.Set.Include(x => x.Lecture).ThenInclude(x => x.Owner).Include(x => x.User).Include(x => x.MarkerUser)
                .Where(x => x.State != Data.Submission.SubmissionState.Deleted && x.LectureId == Lecture.Id && x.UserId == TargetUser.Id && x.ActivityName == Path)
                .OrderByDescending(x => x.SubmittedAt)
                .AsNoTracking().ToList();
        }
        canMark = PermissionProvider.CanMarkSubmission(Lecture, LoginUser);
    }


    private void JumpTo(string submission)
    {
        NV.NavigateTo($"/LectureAdmin/{LectureUser.Account}/{Lecture.Name}/UserSubmissions/{TargetUser.Account}/{submission}", true);
    }

    public async Task OnNotify()
    {
        update();
        await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
        Notifier.Notify -= OnNotify;
    }


}