
body admin {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    background: #ECF0F3;
}

nav.navbar {
    border-top: 4px solid #276cda;
    margin-bottom: 1rem;
}

.navbar-item.brand-text {
    font-weight: 300;
}

.navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
}

.columns {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.menu-label {
    color: #8F99A3;
    letter-spacing: 1.3;
    font-weight: 700;
}

.menu-list a {
    color: #0F1D38;
    font-size: 14px;
    font-weight: 700;
}

.menu-list a:hover {
    background-color: transparent;
    color: #276cda;
}

.menu-list a.is-active {
    background-color: transparent;
    color: #276cda;
    font-weight: 700;
}

.card-section {
    margin-bottom: 2rem;
}
.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 0.5rem;
}

.card-header-title {
    color: #8F99A3;
    font-weight: 400;
}

.info-tiles {
    margin: 1rem 0;
}

    .info-tiles .subtitle {
        font-weight: 300;
        color: #8F99A3;
    }

.hero.welcome.is-info {
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
}

.hero.welcome .title, .hero.welcome .subtitle {
    color: hsl(192, 17%, 99%);
}

.card .content {
    font-size: 14px;
}

.card-footer-item {
    font-size: 14px;
    font-weight: 700;
    color: #8F99A3;
}

.card-footer-item:hover {
}

.card-table .table {
    margin-bottom: 0;
}

.events-card .card-table {
    max-height: 250px;
    overflow-y: scroll;
}

.tt {
    font-family: 'Lucida Console', monospace, 'Courier New', Courier;
}

.long-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab-contents .content {
    display: none;
}

.tab-contents .content.is-active {
    display: block;
}

.activity-figures {
    font-family: 'Lucida Console', monospace, 'Courier New', Courier;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}
.figures {
    display: table;
    margin: 0 auto;
}
.figure {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


.page-figure {
    margin: 2em;
    display: block;
    text-align: center;
}

.page-figure .page-caption {
    display: block;
}

.page-figure img {
    max-width: 100%;
    height: auto;
    display: inline;
}

.page pre, .page code {
    font-family: 'Lucida Console', monospace, 'Courier New', Courier;
    border-radius: 0.5em;
    color: black;
}

.ace-editor {
    margin: 0;
    padding: 0;
}


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
